.gradle
.idea
build
captures
local.properties
target
bin
.classpath
.project
.settings
gen
*.iml
lint.xml
project.properties
*iDCardLib/build/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
#built application files
*.apk
*.ap_
gradlew
.gradle/
.idea/

/gradle.properties

app/debug/output.json

app/Dkhk/release/output.json

app/release/output.json
